$dark-500: rgb(51, 51, 51);
$dark-400: #666666;
$light-blue: #55acee;
$grey-100: #f7f7f7;
$grey-200: #cecece;
$shadow-grey: #a7a7a7;
$light-100: #fcfcfc;
$fff: rgb(255, 255, 255);

$primary: $dark-500;
$secondary: $light-blue;